@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
 body{
  overflow: hidden;
 }
}

@layer components {

  .navbar-link:hover{
    color:rgb(5, 175, 5) ;
    transition: all 0.4s;
  }
  .navbar-link::after{
    position: absolute;
    content: "";
    background-color:rgb(5, 175, 5);
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
  .navbar-link:hover::after{
    scale: 1;

  }
}
